.experiences__title,
.degrees__title,
.skills__title {
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid;
}

.experiences__list,
.degrees__list,
.skills__list {
  display: grid;
  gap: 2rem;
}

.experience__title,
.degree__title,
.skill__title {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 20px;
}

.experience__details,
.degree__details {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  margin-bottom: 1rem;
}

.experience__date,
.experience__company,
.experience__location,
.degree__school,
.degree__date {
  background-color: var(--c-gray-ls);
  max-width: max-content;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  border-radius: 1rem;
  text-transform: uppercase;
}
